:root {

  --color-primary: #2563EB;
  --color-primary-dark: #004AC6;
  --color-primary-light: #DBE1FF;

  --color-white: #FFFFFF;
  --color-bg-app: #FAF8FF;
  --color-bg-alt: #F3F3FE;
  --color-bg-card: #F8FAFC;


  --color-text-main: #191B23;
  --color-text-body: #434655;
  --color-text-muted: #6B7280;
  --color-text-slate: #54647A;

  --color-border-dark: #C3C6D7;
  --color-border-light: #E1E2ED;
  --color-border-subtle: #EDEDF9;


  --color-success: #10B981;
  --color-success-dark: #059669;
  --color-success-bg: rgba(16, 185, 129, 0.1);

  --color-warning: #BC4800;
  --color-warning-dark: #92400E;
  --color-warning-bg: rgba(188, 72, 0, 0.1);

  --color-danger: #BA1A1A;
  --color-danger-bg: rgba(186, 26, 26, 0.1);

  --color-overlay: rgba(25, 27, 35, 0.5);
}